.animated-design{
	width:55%;
	font-size:15px;
	margin-top:12px;
}
.animated-design h3{
	font-size:19px;
	padding: 10px 0px;
	color:#0073AA;
}
.animated-design .Ani-setting{
	font-size:20px;
	padding: 0px 0px 0px 36px;
	color: #000;
	margin:15px 0px;
}
.animated-design form{
	padding: 0px 35px 25px 35px;
}
.animated-design label{
	font-size:16px;
	padding-bottom: 14px;
	color:#0073AA;
}
.animated-design input[type="text"] ,.animated-design input[type="color"] ,.animated-design input[type="number"],.animated-design select{
	width:100%;
	height: 35px;
	font-size: 17px;
	margin-bottom: 10px;
	color:#000;
	background: #fff;
	padding:5px 5px;
}
.animated-design input[type="radio"]{
	margin:10px;
	color:#C2A04C;
	font-size:10px;	
}
